<div id=header>

      <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nicholas Agro</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Welcome</a></li>
            <li><a href="#about">Portfolio</a></li>
            <li><a href="#contact">Blog</a></li>
            <li><a href="#contact">About</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</div>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div id="jumbotron2">
        <h1>Nicholas Agro</h1>
        <p>A programmer skilled in various languages, from high-level and object-oriented, to embedded, and on numerous platforms from shared servers to microcontrollers.</p>
			</div>
      </div>


<button type="button" class="btn btn-lg btn-danger">View my Work</button>

<div class="footer_c"> <div class="container">  <p>&copy; 2015 Nicholas Agro</p> </div>